# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Mac
.DS_Store

# Large Files & Models
*.zip
*.tar.gz
*.pt
*.pth
*.bin
*.safetensors
*.h5
bigcodenet_evaluation_results.csv

# IDE
.vscode/
.idea/

# Workspace
*.code-workspace

data/bigcodenet_pairs.json
